* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	margin: 0;
	font-size: 1rem;
	line-height: 1.2;
	background-image: url('../resources/global-background.png');
	background-repeat: repeat;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

input {
	padding: 0.3rem;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1rem;
	outline: none;
	border: solid 2px $color-lightgray;
	border-radius: $border-radius-s;
	&:focus {
		border-color: $color-primary;
	}
}

header {
	box-shadow: $box-shadow;
	padding: 0.5rem;
	background-color: $color-primary;
	color: white;
	text-align: center;
	margin-bottom: 1.5rem;
	@media only screen and (max-width: 480px) {
		margin-bottom: 1rem;
	}
	h1 {
		margin: 0;
		font-family: impact;
		text-transform: uppercase;
		letter-spacing: 1px;
		@media only screen and (max-width: 480px) {
			font-size: 1.3rem;
		}
	}

	.back-button {
		position: absolute;
		right: 1rem;
		top: 0.5rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}

section {
	width: 90%;
	max-width: 55rem;
	margin: auto;
	@media only screen and (max-width: 768px) {
		width: calc(100% - 2rem);
		max-width: none;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	@media only screen and (max-width: 480px) {
		width: calc(100% - 1.4rem);
		padding-left: 0.7rem;
		padding-right: 0.7rem;
	}
}

h2 {
	font-size: 1.5rem;
	@media only screen and (max-width: 480px) {
		font-size: 1.2rem;
		margin-top: 0;
	}
}

.container {
	background-color: rgba(#FFFFFF, 0.7);
	backdrop-filter: blur(5px);
	text-align: center;
	padding: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin: 1rem auto;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: $border-radius-m;
	overflow: hidden;
	@media only screen and (max-width: 768px) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	@media only screen and (max-width: 480px) {
		padding-left: 0.7rem;
		padding-right: 0.7rem;
	}
}

button {
	font: inherit;
	background-color: $color-primary;
	color: white;
	padding: 0.8rem 2.5rem;
	border: none;
	border-radius: $border-radius-s;
	width: auto;
	cursor: pointer;
	box-shadow: $box-shadow;
	transition: background-color 0.3s ease-in-out;
	
	@media only screen and (max-width: 480px) {
		padding: 0.8rem 1rem;
		font-size: 0.75rem;
	}

	&:focus {
		outline: none;
	}

	&:hover,
	&:active {
		background-color: darken($color-primary, 10%);
		box-shadow: $box-shadow;
	}

	&:disabled {
		background-color: #ccc;
		box-shadow: none;
		color: #3f3f3f;
		cursor: not-allowed;
	}

	&.white {
		background-color: $color-white;
		color: $color-primary;
		font-weight: bold;
	}
}

.stepback {
	align-self: center;
}

// Vue transitions
.v-enter-active {
	transition: opacity 1s ease;
}

.v-leave-active {
	transition: 0;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
