@mixin monster-types {
    &.normal {
        background-color: #aa9;
    }

    &.fire {
        background-color: #f42;
    }

    &.electric {
        background-color: #fc3;
    }

    &.grass {
        background-color: #7c5;
    }

    &.bug {
        background-color: #ab2;
    }

    &.psychic {
        background-color: #f59;	
    }

    &.fighting {
        background-color: #b54;
    }

    &.water {
        background-color: #39f;
    }

    &.fairy {
        background-color: #e9e;
    }

    &.ice {
        background-color: #6cf;
    }

    &.dragon {
        background-color: #76e;
    }
    
    &.ground {
        background-color: #db5;
    }

    &.rock {
        background-color: #ba6;
    }

    &.ghost {
        background-color: #66b;
    }

    &.poison {
        background-color: #a59;
    }

    &.flying {
        background-color: #89f;
    }
}

@mixin monster-sizes {
    width: 8rem;
    height: 8rem;
    
    &.size-s {
        width: 8rem;
        height: 8rem;
        @media only screen and (max-width: 768px) {
            width: 5rem;
            height: 5rem;
        }
        @media only screen and (max-width: 480px) {
            width: 4rem;
            height: 4rem;
        }
    }

    &.size-m {
        width: 12rem;
        height: 12rem;
        @media only screen and (max-width: 768px) {
            width: 8rem;
            height: 8rem;
        }
        @media only screen and (max-width: 480px) {
            width: 6rem;
            height: 6rem;
        }
    }

    &.size-l {
        width: 15rem;
        height: 15rem;
        @media only screen and (max-width: 768px) {
            width: 10rem;
            height: 10rem;
        }
        @media only screen and (max-width: 480px) {
            width: 8rem;
            height: 8rem;
        }
    }

    &.size-xl {
        width: 18rem;
        height: 18rem;
        @media only screen and (max-width: 768px) {
            width: 13rem;
            height: 13rem;
        }
        @media only screen and (max-width: 480px) {
            width: 10rem;
            height: 10rem;
        }
    }
}