// Colors
$color-primary: #C11E1E; // Red
$color-lightgray: #DFDFDF; // Lightgray
$color-white: #FFFFFF; // White

// Settings
$border-radius-m: 1rem;
$border-radius-sm: 0.5rem;
$border-radius-s: 0.3rem;
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);